{
  "type": "CAMBIAR",
  "project_id": "CAMBIAR",
  "private_key_id": "CAMBIAR",
  "private_key": "CAMBIAR",
  "client_email": "CAMBIAR",
  "client_id": "CAMBIAR",
  "auth_uri": "CAMBIAR",
  "token_uri": "CAMBIAR",
  "auth_provider_x509_cert_url": "CAMBIAR",
  "client_x509_cert_url": "CAMBIAR",
  "universe_domain": "CAMBIAR"
}
