rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // reglas para perfiles de usuario
    match /users/{userId}/profile.jpg {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // reglas para imagenes de decks (dentro de la carpeta del usuario)
    match /users/{userId}/decks/{deckId}/cards/{cardId}/{fileName} {
      allow write: if request.auth != null && request.auth.uid == userId;
      
      allow read: if request.auth != null && (
        request.auth.uid == userId ||
        firestore.get(/databases/(default)/documents/users/$(userId)/decks/$(deckId)).data.isPublic == true
      );
    }
  }
}
